1 TYPELIB "F:\\Dropbox\\TF_AFM_develop\\software_TFAFM_Arduino_embeded\\AFM_code\\AFM_GUI_solution\\AFM_Project\\MKernel\\src\\MKernel_idl.tlb"
2 RT_RCDATA "F:\\Dropbox\\TF_AFM_develop\\software_TFAFM_Arduino_embeded\\AFM_code\\AFM_GUI_solution\\AFM_Project\\MKernel\\src\\MKernel.ctf"
  
